<a href="https://colab.research.google.com/github/sabyadg/MS-DA202.1/blob/main/Data_Cleaning_with_Python_202_1_Academic_Live_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
# modules we'll use
import pandas as pd
import numpy as np

The first thing I do when I get a new dataset is take a look at some of it. This lets me see that it all read in correctly and get an idea of what's going on with the data. In this case, I'm looking to see if I see any missing values, which will be reprsented with NaN or None.

In [133]:

# read in all our data
 
df = pd.read_csv("/content/Building_Permits.csv")

# set seed for reproducibility
np.random.seed(0)

<ipython-input-133-44a478c9fab1>:3: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/Building_Permits.csv")

In [59]:
 df.sample(frac =0.01)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
36554,201401166429,8,otc alterations permit,01/16/2014,2121A,025,50,NaN,Rockridge,Dr,...,5.0,wood frame (5),5.0,wood frame (5),NaN,7.0,Inner Sunset,94116.0,"(37.7508801456054, -122.46985995197439)",1329935126609
179109,201708114582,8,otc alterations permit,08/11/2017,3731,054A,70,NaN,Moss,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,6.0,South of Market,94103.0,"(37.77746581162453, -122.40794981309949)",1474240405552
104632,201511031574,3,additions alterations or repairs,11/03/2015,4700,039,42,NaN,Northridge,Rd,...,5.0,wood frame (5),5.0,wood frame (5),Y,10.0,Bayview Hunters Point,94124.0,"(37.73106843091746, -122.37519264943822)",1401888250267
138592,M727147,8,otc alterations permit,10/03/2016,5673,003,320,NaN,Coleridge,St,...,NaN,NaN,NaN,NaN,NaN,9.0,Bernal Heights,94110.0,"(37.74158162220186, -122.4213438653185)",1439604186542
65738,M531527,8,otc alterations permit,10/28/2014,1065,046,120,NaN,Parker,Av,...,NaN,NaN,NaN,NaN,NaN,2.0,Presidio Heights,94118.0,"(37.78356725139279, -122.4542510829742)",1360457239168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35053,201312275182,8,otc alterations permit,12/27/2013,1516,021,578,NaN,29th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,1.0,Outer Richmond,94121.0,"(37.77840578334063, -122.48857756291227)",1328355102413
73565,201501236494,8,otc alterations permit,01/23/2015,1754,012,430,NaN,Irving,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Inner Sunset,94122.0,"(37.764463442278426, -122.46262787312213)",1368696112829
7405,M379627,8,otc alterations permit,03/20/2013,0566,024,2000,NaN,Broadway,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,Pacific Heights,94123.0,"(37.79519129818516, -122.4304107814998)",129935174618
39487,M464367,8,otc alterations permit,02/19/2014,1454,018,5800,NaN,Geary,Bl,...,NaN,NaN,NaN,NaN,NaN,1.0,Outer Richmond,94121.0,"(37.780540983418, -122.48171361105085)",1332994100389
131165,201607223050,8,otc alterations permit,07/22/2016,6346,002D,632,NaN,London,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,11.0,Excelsior,94112.0,"(37.71921488991816, -122.43819843833518)",1430994201548

In [51]:
#Use Head

df.head(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

In [58]:
#Use Shape

print(f'No. of rows = {df.shape[0]}, No. of columns = {df.shape[1]}')

No. of rows = 198900, No. of columns = 43

In [60]:
#Print Column Names /Familairity with Schema
df.columns

Index(['Permit Number', 'Permit Type', 'Permit Type Definition',
       'Permit Creation Date', 'Block', 'Lot', 'Street Number',
       'Street Number Suffix', 'Street Name', 'Street Suffix', 'Unit',
       'Unit Suffix', 'Description', 'Current Status', 'Current Status Date',
       'Filed Date', 'Issued Date', 'Completed Date',
       'First Construction Document Date', 'Structural Notification',
       'Number of Existing Stories', 'Number of Proposed Stories',
       'Voluntary Soft-Story Retrofit', 'Fire Only Permit',
       'Permit Expiration Date', 'Estimated Cost', 'Revised Cost',
       'Existing Use', 'Existing Units', 'Proposed Use', 'Proposed Units',
       'Plansets', 'TIDF Compliance', 'Existing Construction Type',
       'Existing Construction Type Description', 'Proposed Construction Type',
       'Proposed Construction Type Description', 'Site Permit',
       'Supervisor District', 'Neighborhoods - Analysis Boundaries', 'Zipcode',
       'Location', 'Record ID'],
      dtype='object')

In [98]:
columns_set = ['Permit Number', 'Permit Type']
df_c_subset = df[columns_set]

In [99]:
df_c_subset.head(2)

  Permit Number  Permit Type
0  201505065519            4
1  201604195146            4

In [100]:
 df_c_subset['Permit_type_new'] = df_c_subset['Permit Type'] -1

<ipython-input-100-4b28cabd4662>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_subset['Permit_type_new'] = df_c_subset['Permit Type'] -1

In [101]:
df_c_subset.head(3)

  Permit Number  Permit Type  Permit_type_new
0  201505065519            4                3
1  201604195146            4                3
2  201605278609            3                2

In [96]:
df_c_subset.drop(['Permit Type', 'Permit_type_clean'], axis = 1, inplace = True)

<ipython-input-96-f2e0cccf9e56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_subset.drop(['Permit Type', 'Permit_type_clean'], axis = 1, inplace = True)

In [102]:
df_c_subset = df_c_subset.drop('Permit Type', axis = 1 )

In [103]:
df_c_subset.head()

  Permit Number  Permit_type_new
0  201505065519                3
1  201604195146                3
2  201605278609                2
3  201611072166                7
4  201611283529                5

#### Look at a few rows of the building perimit_data file. I can see a handful of missing data already!

Ok, now we know that we do have some missing values. Let's see how many we have in each column.

In [115]:
# get the number of missing data points per column
missing_values_count_df =  df.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count_c_df = missing_values_count_df[missing_values_count_df > 0]

In [120]:
missing_values_count_c_df.sort_values()

Description                                  290
Location                                    1700
Zipcode                                     1716
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Street Suffix                               2768
Revised Cost                                6066
Issued Date                                14940
First Construction Document Date           14946
Plansets                                   37309
Estimated Cost                             38066
Existing Use                               41114
Proposed Use                               42439
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Units                             50911
Existing Units                             51538
Permit Expiration Date                     51880
Completed Date                            101709
Unit                                      169421
Fire Only Permit                          180073
Structural Notification                   191978
Site Permit                               193541
Street Number Suffix                      196684
Unit Suffix                               196939
Voluntary Soft-Story Retrofit             198865
TIDF Compliance                           198898
dtype: int64

#### That seems like a lot! It might be helpful to see what percentage of the values in our dataset were missing to give us a better sense of the scale of this problem:

In [121]:
# how many total missing values do we have?
total_cells =   df.shape[0]*df.shape[1]
total_missing =   missing_values_count_c_df.sum()
# percent of data that is missing
(total_missing/total_cells) * 100

26.26002315058403

Wow, more than quarter of the cells in this dataset are empty! In the next step, we're going to take a closer look at some of the columns with missing values and try to figure out what might be going on with them.

#### Figure out why the data is missing
This is the point at which we get into the part of data analyst that I like to call "data intution", by which I mean "really looking at your data and trying to figure out why it is the way it is and how that will affect your analysis". It can be a frustrating part of data analyst, especially if you're newer to the field and don't have a lot of experience. For dealing with missing values, you'll need to use your intution to figure out why the value is missing. One of the most important question you can ask yourself to help figure this out is this:

Is this value missing becuase it wasn't recorded or becuase it dosen't exist?

If a value is missing becuase it doens't exist (like the height of the oldest child of someone who doesn't have any children) then it doesn't make sense to try and guess what it might be. These values you probalby do want to keep as NaN. On the other hand, if a value is missing becuase it wasn't recorded, then you can try to guess what it might have been based on the other values in that column and row. (This is called "imputation" and we'll learn how to do it next! :)

Let's work through an example. Looking at the number of missing values in the building perimit_data dataframe, I notice that the column Street Number Suffix has a lot of missing values in it:

In [126]:
print(f'% of columns having missing values = {100*(31/43)}')

% of columns having missing values = 72.09302325581395

In [122]:
missing_values_count_df[missing_values_count_df > 0 ].sort_values().shape

(31,)

#### Drop missing values
If you're in a hurry or don't have a reason to figure out why your values are missing, one option you have is to just remove any rows or columns that contain missing values. (Note: I don't generally recommend this approch for important projects! It's usually worth it to take the time to go through your data and really look at all the columns with missing values one-by-one to really get to know your dataset.)

If you're sure you want to drop rows with missing values, pandas does have a handy function, dropna() to help you do this. Let's try it out on our SF Permits Dataset!

In [135]:
df.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

In [134]:
# remove all the rows that contain a missing value
df.dropna( )

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

Oh dear, it looks like that's removed all our data! 😱 This is because every row in our dataset had at least one missing value. We might have better luck removing all the columns that have at least one missing value instead.

In [137]:
missing_values_count_df[missing_values_count_df == 0]

Permit Number             0
Permit Type               0
Permit Type Definition    0
Permit Creation Date      0
Block                     0
Lot                       0
Street Number             0
Street Name               0
Current Status            0
Current Status Date       0
Filed Date                0
Record ID                 0
dtype: int64

In [138]:
# remove all columns with at least one missing value
columns_with_na_dropped = df.dropna(axis=1)
columns_with_na_dropped.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Current Status,Current Status Date,Filed Date,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,Ellis,expired,12/21/2017,05/06/2015,1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,Geary,issued,08/03/2017,04/19/2016,1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,Pacific,withdrawn,09/26/2017,05/27/2016,1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,Pacific,complete,07/24/2017,11/07/2016,1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,Market,issued,12/01/2017,11/28/2016,144548169992

In [139]:
rows_with_na_dropped = df.dropna(axis=0)
rows_with_na_dropped.head()

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

In [12]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % df.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 43

Columns with na's dropped: 6

We've lost quite a bit of data, but at this point we have successfully removed all the NaN's from our data.

#### Filling in missing values automatically
Another option is to try and fill in the missing values. For this next bit, I'm getting a small sub-section of the SF Permits so that it will print well.

In [142]:
# get a small subset of the building perimit dataset
subset_df = df.loc[:, 'Street Name':'Zipcode'].head()
subset_df

,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,...,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode
0,Ellis,St,NaN,NaN,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,NaN,...,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0
1,Geary,St,0.0,NaN,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,NaN,...,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0
2,Pacific,Av,NaN,NaN,installation of separating wall,withdrawn,09/26/2017,05/27/2016,NaN,NaN,...,2.0,NaN,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0
3,Pacific,Av,0.0,NaN,repair dryrot & stucco at front of bldg.,complete,07/24/2017,11/07/2016,07/18/2017,07/24/2017,...,2.0,NaN,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0
4,Market,St,NaN,NaN,demolish retail/office/commercial 3-story buil...,issued,12/01/2017,11/28/2016,12/01/2017,NaN,...,2.0,NaN,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0

We can use the Panda's fillna() function to fill in missing values in a dataframe for us. One option we have is to specify what we want the NaN values to be replaced with. Here, I'm saying that I would like to replace all the NaN values with 0.

In [141]:
# replace all NA's with 0
subset_df.fillna(0)

,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,...,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode
0,Ellis,St,0.0,0,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,0,...,2.0,0,3.0,constr type 3,0.0,0,0,3.0,Tenderloin,94102.0
1,Geary,St,0.0,0,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,0,...,2.0,0,3.0,constr type 3,0.0,0,0,3.0,Tenderloin,94102.0
2,Pacific,Av,0.0,0,installation of separating wall,withdrawn,09/26/2017,05/27/2016,0,0,...,2.0,0,1.0,constr type 1,1.0,constr type 1,0,3.0,Russian Hill,94109.0
3,Pacific,Av,0.0,0,repair dryrot & stucco at front of bldg.,complete,07/24/2017,11/07/2016,07/18/2017,07/24/2017,...,2.0,0,5.0,wood frame (5),5.0,wood frame (5),0,3.0,Nob Hill,94109.0
4,Market,St,0.0,0,demolish retail/office/commercial 3-story buil...,issued,12/01/2017,11/28/2016,12/01/2017,0,...,2.0,0,3.0,constr type 3,0.0,0,0,6.0,Tenderloin,94102.0

I could also be a bit more savvy and replace missing values with whatever value comes directly after it in the same column. (This makes a lot of sense for datasets where the observations have some sort of logical order to them.)

In [143]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_df.fillna(method = 'bfill', axis=0).fillna(0)

,Street Name,Street Suffix,Unit,Unit Suffix,Description,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,...,Plansets,TIDF Compliance,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode
0,Ellis,St,0.0,0.0,"ground fl facade: to erect illuminated, electr...",expired,12/21/2017,05/06/2015,11/09/2015,07/24/2017,...,2.0,0.0,3.0,constr type 3,1.0,constr type 1,0.0,3.0,Tenderloin,94102.0
1,Geary,St,0.0,0.0,remove (e) awning and associated signs.,issued,08/03/2017,04/19/2016,08/03/2017,07/24/2017,...,2.0,0.0,3.0,constr type 3,1.0,constr type 1,0.0,3.0,Tenderloin,94102.0
2,Pacific,Av,0.0,0.0,installation of separating wall,withdrawn,09/26/2017,05/27/2016,07/18/2017,07/24/2017,...,2.0,0.0,1.0,constr type 1,1.0,constr type 1,0.0,3.0,Russian Hill,94109.0
3,Pacific,Av,0.0,0.0,repair dryrot & stucco at front of bldg.,complete,07/24/2017,11/07/2016,07/18/2017,07/24/2017,...,2.0,0.0,5.0,wood frame (5),5.0,wood frame (5),0.0,3.0,Nob Hill,94109.0
4,Market,St,0.0,0.0,demolish retail/office/commercial 3-story buil...,issued,12/01/2017,11/28/2016,12/01/2017,0,...,2.0,0.0,3.0,constr type 3,0.0,0,0.0,6.0,Tenderloin,94102.0

Filling in missing values is also known as "imputation".